*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first-panel{
    width: 100%;
    height: 800px;
    background-image: url(bg.jpg);
}

.logo{
    background: transparent;
    height: 45px;
    margin: 20px 200px;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.lang-sign{
    margin: 20px 150px 20px 0;
}
.sel{
    height: 35px;
    width: 100px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
}

.btn{
    height: 35px;
    width: 100px;
    margin-left: 10px;
    background-color: #E50914 ;
    color: white;
    border: none;
    border-radius: 5px;
}

.text{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.main-head{
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.sec-head{
    font-size: 40px;
    margin-bottom: 20px;
}
.third-head{
    font-size: 30px;
}
.input-btn{
    margin-top: 40px;
    text-align: center;
}
.input-box{
    width: 600px;
    height: 50px;
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    border: white;
    border-radius: 5px;
}
.started-btn{
    width: 200px;
    height: 50px;
    color: white;
    background-color: #E50914;
    border-radius: 5px;
    margin-left: 10px;
}
input::placeholder{
    color: white;
    padding: 10px;
}
.sec-panel{
    border-top: 5px solid gray;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.text1{
    color: white;
    margin-top:200px;
}
.text1 h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.text1 h2{
    font-weight: lighter;
}
.third-panel{
    border-top: 5px solid gray;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.text-2{
    color: white;
    margin-top:200px;
}
.text-2 h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.text-2 h2{
    font-weight: lighter;
}
.fourth-panel{
    border-top: 5px solid gray;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.text-3{
    color: white;
    margin-top:200px;
}
.text-3 h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.text-3 h2{
    font-weight: lighter;
}
.fifth-panel{
    border-top: 5px solid gray;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.text-4{
    color: white;
    margin-top:200px;
}
.text-4 h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.text-4 h2{
    font-weight: lighter;
}